{% extends "base.html" %}

{% block title %}
    <title>Авторизация</title>
{% endblock title %}

{% block content %}
    <center>
        <legend class="border-bottom mb-3">Авторизация</legend>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Войти</button>
            </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Нужен аккаунт? <a class="ml-2" href="/users/register">Регистрация</a>
            </small>
        </div>
    </center>
{% endblock content %}