{% extends "base.html" %}

{% block title %}
    <title>Авторизация</title>
{% endblock title %}

{% block nav5 %}
          {% if user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link" href="/users/profile">Вы вошли как [{{ user.username }}]</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="/users/logout/">Выход</a>
            </li>
          	{% else %}
            <li class="nav-item">
            	<a class="nav-item nav-link disabled" href="/users/login/">Вход</a>
            </li>
          	{% endif %}
{% endblock nav5 %}

{% block content %}
<div class="container">
        <legend class="border-bottom mb-3">Авторизация</legend>
    <div class="col-3">
        <div class="form-control mb-3">
            <form id="add_form" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                <button type="submit" class="save btn btn-default mt-2">Войти</button>
            </form>
        </div>
    </div>
        <div class="border-top pt-3">
            <small class="text-muted">
                Нужен аккаунт? <a class="ml-2" href="/users/register">Регистрация</a>
            </small>
        </div>
</div>
{% endblock content %}