{% extends "base.html" %}

{% block title %}
    <title>Нужно авторизоваться</title>
{% endblock title %}

{% block nav5 %}
          {% if user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link" href="/users/profile">Вы вошли как [{{ user.username }}]</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="/users/logout/">Выход</a>
            </li>
          	{% else %}
            <li class="nav-item">
            	<a class="nav-item nav-link disabled" href="/users/login/">Вход</a>
            </li>
          	{% endif %}
{% endblock nav5 %}

{% block content %}
<div class="container">
        <legend class="border-bottom mb-3">Чтобы сюда попасть, нужно авторизоваться</legend>
            <form method="POST">
                <div class="col-3">
                    {% csrf_token %}
<!--                    {{form.username}}-->
<!--                    {{form.password}}-->
                    <input class="form-control" type="text" placeholder="Введите логин" label={{form.username}}
                    <input class="form-control mt-3" type="password" placeholder="Введите пароль" aria-label={{form.password}}
                </div>
                <button type="submit" class="save btn btn-default mt-2">Войти</button>
            </form>
<!--                    <br>-->
<!--            <form method="POST">-->
<!--                {% csrf_token %}-->
<!--                {{ form.as_p }}-->
<!--            <button type="submit" class="save btn btn-default">Войти</button>-->
<!--            </form>-->
        <div class="border-top pt-3">
            <small class="text-muted">
                Нужен аккаунт? <a class="ml-2" href="/users/register">Регистрация</a>
            </small>
        </div>
</div>
{% endblock content %}