{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title> Профиль пользователя {{user.username}} </title>
{% endblock title %}

{% block nav5 %}
        <li class="nav-item">
          {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link disabled" href="/users/profile">Вы вошли как [{{ user.username }}]</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="/users/logout/">Выход</a>
            </li>
            {% else %}
            <li>
            	<a class="nav-item nav-link" href="/users/login/">Вход</a>
            </li>
            {% endif %}
        </li>
{% endblock nav5 %}

{% block content %}

<div class="container">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
<!--            Можно заполнить через админ-панель -->
                Ваше имя - {{user.first_name}}<br>
                Ваша фамилия - {{user.last_name}}<br>
                Ваш id - {{user.id}}
            <br>
            <a href=/users/profile/suggest/>Предложить публикацию</a><br>
        </div>
        {% if suggest %}
            <h3>Мои публикации:</h3>
        <table>
            <th>Город</th>
            <th>Опубликовано</th>
            {% for i in suggest %}
                    <tr>
                        <td><a href="/town_watch/{{ i.town_id }}">{{i.town}}</a></td>
                        <td>{{i.is_published}}</td>
                    </tr>
            {% endfor %}
                    </table>
        {% else %}
            <h3>Вы пока ничего не отправляли...</h3>
        {% endif %}
    </div>
</div>
{% endblock content %}