{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title> Профиль пользователя </title>
{% endblock title %}

{% block nav6 %}
        <li class="nav-item">
          {% if user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link disabled" href="/profile">{{ user.username }}</a>
                </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="/logout/">Выход</a>
            </li>
          	{% else %}
            	<a class="nav-item nav-link" href="/login/">Вход</a>
          	{% endif %}
        </li>
{% endblock nav6 %}

{% block content %}

<div class="container">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p><br>
<!--            <p class="text-secondary">{{ current_user }}</p><br>-->
            <a href="/suggest">Предложить публикацию</a>
        </div>
      </div>
</div>
{% endblock content %}