{% extends "base.html" %}

{% block title %}
    <title>Регистрация</title>
{% endblock title %}

          {% block nav4 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/users/register">Регистрация</a>
        </li>
          {% endblock nav4 %}

{% block content %}

<div class="container">
    {% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
    {% endif %}
</div>

 <div class="container">
        <legend class="border-bottom mb-3">Дополните информацию о себе</legend>
     <div class="col-4">
         <div class="form-control mb-3">
            <form method="POST">
                    {{form.as_p}}
                <button type="submit" class="save btn btn-default mt-2">Сохранить</button>
                <button type="reset" class="save btn btn-default mt-2">Очистить форму</button>
            </form>
         </div>
     </div>
</div>

{% endblock content %}

