{% extends "base.html" %}

{% block title %}
    <title>Регистрация</title>
{% endblock title %}

          {% block nav4 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/users/register">Регистрация</a>
        </li>
          {% endblock nav4 %}

{% block content %}

<div class="container">
    {% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
    {% endif %}
</div>

<div class="container-xxl">
    <div class="row">
        <legend class="border-bottom mb-3">Регистрация пользователя</legend>
     <div class="col-4">
         <div class="form-control mb-3">
             <form method="POST">
                 {% csrf_token %}
                 {{form.as_p}}
                    <button type="submit" class="save btn btn-default mt-2">Зарегистрироваться</button>
             </form>
         </div>
     </div>
     <div class="col-sm-8">
         <div class="container text-center">
             <h1>Преимущества регистрации</h1>
             <p>У зарегистрированных пользователей будет возможность:</p>
             <li>Просматривать и дополнять информацию о городах</li>
             <li>Добавлять записи в "отзывы о путешествиях"</li>
         </div>
     </div>
           <div class="border-top pt-3">
               <small class="text-muted">
                    Уже есть аккаунт? <a class="ml-2" href="/users/login/">Вход</a>
            </small>
           </div>

    </div>
</div>

{% endblock content %}

