{% extends "base.html" %}

{% block title %}
<title> Пост </title>
{% endblock title %}

{% block content %}
{% if posts%}
{% for post in posts %}
<div class="container">
    <div class="nav-right">
    <a href="{% url 'new_post' %}">Добавить новый пост</a>
</div>
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body }}</p>
            <p class="card-text"><small class="text-muted">{{ post.author }} | {{ post.date }}</a></small></p>
            <p class="card-text"><small class="text-muted"><a href='{% url "post_detail" post.pk %}'>Читать полностью</a> <br></small></p>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<center>
<h1>Постов пока нет, будьте первым!</h1>
    </center>
{% endif %}
{% endblock content %}


