{% extends "base.html" %}

{% block title %}
<title> Отзывы </title>
{% endblock title %}
{% block content %}
{% if posts %}
    <div class="container-xxl">
    <a href="{% url 'new_post' %}">Добавить новый отзыв</a>
        {% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
        {% endif %}
</div>
{% for post in posts %}
<div class="container-xxl">
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body|safe }}</p>
            <p class="card-text"><small class="text-muted">{{ post.author }} | {{ post.date }}</a></small></p>
            {% if request.user == post.author %}
            <div class="card-text">
                <small class=text-muted"> <a href='{% url "post_edit" post.pk %}'>Редактировать</a> <a href="{% url 'post_delete' post.pk %}">Удалить</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<center>
    <h1>Отзывов пока нет, будьте первым! <a href="/blog/new_post/">Начать!</a></h1>
</center>
{% endif %}
{% endblock content %}


