{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Новый отзыв</title>
{% endblock title %}

{% block content %}
<div class="container-xxl">
    <div class="row">
        <legend class="border-bottom mb-3">Публикация отзыва</legend>
            <div class="col-8">
                <div class="form-control mb-3">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form.text | safe }}
                        {{ form.media }}
                        {{ form|crispy }}
                            <button type="submit" class="save btn btn-default">Отправить</button>
                            <button type="button" class="btn btn-inverse" id="cancel" onclick="window.history.back()">
                                <i class="icon-remove icon-large"></i>Отмена
                            </button>
                    </form>
                </div>
            </div>
        <div class="col-4">
            <h4>Правила публикации поста:</h4>
            <li>Описывать события честно</li>
            <li>Воздержаться от использования ненормативной лексики</li>
            <li>И что-то еще...</li>

            </div>
    </div>
</div>
{% endblock content %}