{% extends 'base.html' %}

{% block title %}
<title>Удаление отзыва</title>
{% endblock title %}

{% block content %}
<div class="container-xxl">
    <div class="row">
        <div class="col-4">
    <h1>Удаление отзыва</h1>
            <div class="form-control mb-3">
                <form action="" method="post">
                    {% csrf_token %}
                    <p>Вы уверены, что хотите удалить отзыв "{{ post.title }}"?</p>
                    <button type="submit" class="btn btn-danger">Удалить запись</button>
                    <button type="button" class="btn btn-secondary" id="cancel" onclick="window.history.back()">
                        <i class="icon-remove icon-large"></i>Отмена
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
