{% extends "base.html" %}

{% block title %}
<title> Пост </title>
{% endblock title %}

{% block content %}

<div class="container-sm">
<div class="container">
  <div class="nav-right">
      <a href="{% url 'new_post' %}">Добавить новый пост</a>
{% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
{% endif %}
</div>

   <div class="card mb-2">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body|safe }}</p>
          <p class="card-text"><small class="text-muted">{{ post.author }} | {{ post.date }}</small></p>
      </div>
   </div>

<!--{% if user.is_authenticated %}-->
    {% if request.user == post.author %}
    -- Управление постом --<br>
      <a href='{% url "post_edit" post.pk %}'>Редактировать пост</a> <br>
      <a href="{% url 'post_delete' post.pk %}">Удалить пост</a> <br>
    ----------------------------<br>
    {% endif %}
<!--{% endif %}-->
  <a href='{% url "blog_home" %}'>Смотреть все посты</a>
</div>
</div>
{% endblock content %}