{% extends "base.html" %}

{% block title %}
<title> О проекте </title>
{% endblock title %}

{% block content %}

<center>
    <br>
    <h4>Здесь автор публикует новости процесса разработки и собственные мысли.</h4><br>
</center>

{% for i in posts %}

<div class="container">
    <div class="card mb-2"  style="max-width: 60rem;">
        <div class="card-body">
            <p class="card-text">{{ i.post }}</p>
            <p class="card-text"><small class="text-muted">{{ i.date }}</small></p>
        </div>
    </div>
</div>

{% endfor %}
{% endblock content %}

{% block info %}
                      <center>
                          <td style="height:200px; vertical-align:baseline;">Информация:</td><br>
                          О проекте <br>
                          <a href="/blog/">Блог проекта</a>
                      </center>
{% endblock info %}
