{% extends "base.html" %}

{% block title %}
<title> О проекте </title>
{% endblock title %}

{% block content %}

<div class="mt-3" style="text-align: center">
    <h4>О проекте</h4>
</div>

<div class="container-xxl">
    {% if posts %}
    {% for i in posts %}
    <div class="card mb-2">
        <div class="card-body">
            <p class="card-text">{{ i.post|safe }}</p>
            <p class="card-text"><small class="text-muted">{{ i.date }}</small></p>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="card mb-2">
        <div class="card-body">
            <p class="card-text" style="text-align: center">Здесь пока ничего нет, посты публикует администратор</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block info %}
                    <div class="col">
                      <center>
                          <td>Информация:</td><br>
                          О проекте<br>
                          <a href="/blog/home/">Отзывы о путешествиях</a>
                      </center>
                    </div>
{% endblock info %}
