<!DOCTYPE html>
<html lang="en">


<head>
    {% block head %}
    <meta charset="UTF-8">

    {% block title %}
    <title> Заголовок </title>
    {% endblock title %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">

    {% endblock head %}
</head>

<body>

<nav class="navbar navbar-expand-lg bg-light" style="position:sticky; top:0; z-index:100">
  <div class="container-xxl">
    <a class="navbar-brand" href="/">Belarus Guide</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          {% block nav1 %}
        <li class="nav-item">
          <a class="nav-link" href="/districts/">Что посмотреть</a>
        </li>
          {% endblock nav1 %}
          {% block nav2 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/town_eat/{{town_watch.id}}">Где поесть</a>
        </li>
          {% endblock nav2 %}
          {% block nav3 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/town_sleep/{{town_watch.id}}">Где переночевать</a>
        </li>
          {% endblock nav3 %}
          {% block nav4 %}
          {% if user.is_authenticated %}
          {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/users/register">Регистрация</a>
        </li>
          {% endif %}
          {% endblock nav4 %}
          {% block nav5 %}
        <li class="nav-item">
          {% if user.is_authenticated %}
            <li class="nav-item">
                    <a class="nav-link" href="/users/profile">Вы вошли как [{{ user.username }}]</a>
                </li>
            <li class="nav-item">
                <a class="nav-item nav-link" href="/users/logout/">Выход</a>
            </li>
          	{% else %}
            	<a class="nav-item nav-link" href="/users/login/">Вход</a>
          	{% endif %}
        </li>
          {% endblock nav5 %}
          {% block nav6 %}
          {% if user.is_superuser %}
          <li class="nav-item">
          <a class="nav-link" href="/admin">Админ-панель</a>
        </li>
          {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Вход для администрации</a>
        </li>
          {% endif %}
          {% endblock nav6 %}
      </ul>

      <form class="d-flex" action="{% url 'search_results' %}" role="search" method="get">
        <input class="form-control me-2" type="search" placeholder="Введите город..." aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Искать</button>
      </form>

    </div>
  </div>
</nav>

{% block content %}

{% endblock content %}

{% block footer %}
<footer>
<div class="footer">
    <div class="card">
          <div class="card-body">
              <div class="container-xxl">
                <div class="row align-items-end">
                    <div class="col">
                        {% block info %}
                      <center>
                          <td style="height:200px; vertical-align:top;">Информация:</td><br>
                          <a href="/about/">О проекте</a><br>
                          <a href="/blog/">Отзывы о путешествиях</a>
                      </center>
                        {% endblock info %}
                    </div>
                    <div class="col">
                        {% block contacts %}
                      <center>
                          <td style="height:200px; vertical-align:top;">Контакты:</td><br>
                          Телефон - +375 (29) 568-93-21<br>
                          Email - inviz1806@gmail.com
                      </center>
                        {% endblock contacts %}
                    </div>
                    <div class="col">
                        {% block authors %}
                      <center>
                          <td style="height:200px; vertical-align:top;">Авторы:</td><br>
                          vk.com - <a href="https://vk.com/link_viscount/">Коваленя Дмитрий</a>
                      </center>
                        {% endblock authors %}
                    </div>
                </div>
              </div>
          </div>
    </div>
</div>
</footer>

{% endblock footer %}

</body>

</html>

