{% extends "base.html" %}
{% load static %}

{% block title %}
   <title> Города области </title>   <!-- почему-то не могу вывести название области-->
{% endblock title %}

{% block nav1 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/districts">Что посмотреть</a>
        </li>
{% endblock nav1 %}

{% block content %}

<section>
    <div class="container-sm">
        <a class="link" href="/districts"><-- К областям</a>
        {% if towns %}
            {% for town in towns %}
            <div class="card mb-2" style="max-width: 60rem;">
              <img src="/{{ town.image }}" class="card-img-top" alt="Photo">
              <div class="card-body">
                <h5 class="card-title">
                    <a href="/town_watch/{{ town.id }}">{{ town.name }}</a>
                </h5>
                <p class="card-text">{{ town.short_info }}</p>
              </div>
            </div>
            {% endfor %}
        {% else %}
        <center><h1>Здесь пока пусто...</h1></center>
        {% endif %}
    </div>
</section>

{% endblock content %}