{% extends "base.html" %}
{% load static %}

{% block title %}
    <title> Что посмотреть </title>
{% endblock title %}

{% block nav1 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/districts">Что посмотреть</a>
        </li>
{% endblock nav1 %}

{% block content %}

<section>
    <div class="container-sm">
        {% if districts %}
            {% for distr in districts %}
            <div class="card mb-2">
              <img src="{{ distr.image }}" class="card-img-top" alt="Photo">
              <div class="card-body">
                <h5 class="card-title">
                    <a href="/district/{{ distr.id }}">{{ distr.name }}</a>
                </h5>
                <p class="card-text">{{ distr.desk }}</p>
              </div>
            </div>
            {% endfor %}
        {% else %}
        <center><h1>Здесь пока пусто...</h1></center>
        {% endif %}
    </div>
</section>

{% endblock content %}