{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Главная страница</title>
{% endblock title %}

{% block content %}
<section>
    <div class="container-sm">
        {% for i in news %}
        <div class="card mb-2">
          <img src="{{ i.image }}" class="card-img-top" alt="Photo">
          <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            <p class="card-text">{{ i.news }}</p>
            <p class="card-text"><small class="text-muted">{{ i.author }} | {{ i.date }}</small></p>
          </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}

{% block footer %}
<div class="footer">
    <div class="card">
          <div class="card-body">
                <div class="row align-items-end">
                    <div class="col">
                        {% block info %}
                      <center>
                          <td style="height:200px; vertical-align:baseline;">Информация:</td><br>
                          <a href="/about/">О проекте</a>
                      </center>
                        {% endblock info %}
                    </div>
                    <div class="col">
                        {% block contacts %}
                      <center>
                          <td style="height:200px; vertical-align:top;">Контакты:</td><br>
                          Телефон - +375 (29) 568-93-21<br>
                          Email - inviz1806@gmail.com
                      </center>
                        {% endblock contacts %}
                    </div>
                    <div class="col">
                        {% block authors %}
                      <center>
                          <td style="height:200px; vertical-align:top;">Авторы:</td><br>
                          vk.com - <a href="https://vk.com/link_viscount/">Коваленя Дмитрий</a>
                      </center>
                        {% endblock authors %}
                    </div>
                </div>
          </div>
    </div>
</div>
{% endblock footer %}