{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Главная - новости</title>
{% endblock title %}

{% block content %}
<section>
    <div class="container" style="max-width: 60rem;">
        {% if news %}
        {% for i in news %}
        <div class="card mb-2">
          <img src="{{ i.image }}" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            <p class="card-text">{{ i.news|safe }}</p>
            <p class="card-text"><small class="text-muted">{{ i.author }} | {{ i.date }}</small></p>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">Страница с новостями сферы туризма Беларуси</h5>
            <p class="card-text">На главную страницу новости добавляются администратором сайта.
            Чтобы добавлять новости, <a href="/admin">авторизуйтесь</a> как администратор</p>
            <p class="card-text" style="text-align: right"><small class="text-muted">Администрация</small></p>
          </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}
