{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>{{ title }}</title>
{% endblock title %}

{% block content %}
<div class="container-xxl">
    <div class="row">
        <div class="col-sm-3">
            <p>Здесь будет меню с выбором областей и городов,</p>
            <p>Или другое меню я еще не определился</p>
        </div>
        <div class="col-sm-9">
            <div class="card mb-2">
                <img src="/{{ news.image }}" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <p class="card-text">{{ news.news|safe }}</p>
                    <p class="card-text"><small class="text-muted">{{ news.author }} | {{ news.date }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
