{% extends 'base.html' %}

{% block title %}
    <title>Предложить публикацию</title>
{% endblock title %}

{% block content %}
<div class="container">
    <h1>Предложить публикацию</h1>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<form method="POST" class="post-form">
    {% csrf_token %}
        {{ form.text | safe }}
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Отправить</button>
        <button type="button" class="btn btn-inverse" id="cancel" onclick="window.history.back()">
            <i class="icon-remove icon-large"></i>Отмена
        </button>
</form>
</div><br>
{% endblock content %}