{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Предложить публикацию</title>
{% endblock title %}

{% block content %}
<div class="container-xxl">
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
    <div class="row">
        <div class="col-8">
            <div class="form-control mb-3">
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    {{ form.text | safe }}
                    {{ form.media }}
                    {{form|crispy}}
                    <button type="submit" class="save btn btn-primary mt-2">Отправить</button>
                    <small>*Все поля обязательны для заполнения</small>
                </form>
            </div>
        </div>
        <div class="col-sm-4" style="text-align: right">
            <legend class="border-bottom mb-3">Предложение публикации</legend>
                <h3>Правила заполнения формы:</h3>
                <li>Первое</li>
                <li>Второе</li>
                <li>Пятое</li>
                <li>Десятое</li>
        </div>
    </div>
</div>
{% endblock content %}