{% extends "base.html" %}
{% load static %}

{% block title %}
   <title> Города в этой области </title>   <!-- почему-то не могу вывести название области-->
{% endblock title %}

{% block nav1 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/districts">Что посмотреть</a>
        </li>
{% endblock nav1 %}

{% block content %}

<section>
    <div class="container-xxl">
        <div class="row">
            <div class="col-sm-3">
                <ul class="menu mt-3">
                    <h5>Меню сайта:</h5>
                    {% for i in towns %}
                    <li><a href="town_watch/{{ i.id }}">{{i.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-9">
                <div class="mt-2">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/districts">Области</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Города</li>
                            </ol>
                    </nav>
                </div>

            {% if towns %}
                {% for town in towns %}
                <div class="card mb-2">
                  <img src="/{{ town.image }}" class="card-img-top" alt="">
                  <div class="card-body">
                    <h5 class="card-title">
                        <a href="town_watch/{{ town.id }}">{{ town.name }}</a>
                    </h5>
                    <p class="card-text">{{ town.short_info }}</p>
                  </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="card mb-2">
              <div class="card-body">
                <h5 class="card-title">Страница со списком городов в области</h5>
                <p class="card-text">Информация добавляется администратором сайта и дополняется пользователями через личный
                    кабинет через премодерацию. Чтобы добавлять посты в этот раздел, <a href="/admin">авторизуйтесь</a>
                    как администратор</p>
                <p class="card-text" style="text-align: right"><small class="text-muted">Администрация</small></p>
              </div>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}