{% extends "base.html" %}
{% load static %}

{% block title %}
    <title> {{ town_watch.name }} - Что посмотреть</title>
{% endblock title %}

          {% block nav1 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/town_watch/{{town_watch.town_slug}}">Что посмотреть</a>
        </li>
          {% endblock nav1 %}
          {% block nav2 %}
        <li class="nav-item">
          <a class="nav-link" href="/town_eat/{{town_watch.town_slug}}">Где поесть</a>
        </li>
          {% endblock nav2 %}
          {% block nav3 %}
        <li class="nav-item">
          <a class="nav-link" href="/town_sleep/{{town_watch.town_slug}}">Где переночевать</a>
        </li>
          {% endblock nav3 %}

{% block content %}

<div class="container-xxl">
    <div class="mt-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/districts">Области</a></li>
                <li class="breadcrumb-item"><a href="/{{town_watch.district_id}}">Города</a> (ссылка работает, нужно подставить название области)</li>
                <li class="breadcrumb-item active" aria-current="page">{{town_watch.name}} - Достопримечательности</li>
            </ol>
        </nav>
    </div>
    <div class="card mb-2">
        <img src="/{{ town_watch.image }}" class="card-img-top" alt="">
        <div class="card-body">
            <p class="card-text">{{ town_watch.watch|safe }}</p>
            <p class="card-text" style="text-align: right"><small class="text-muted">Добавлено Администратором</small></p>
        </div>
    </div>
</div>
{% for pub in pub_town_watch %}
<div class="container-xxl">
    <div class="card mb-2">
        <div class="card-body">
            <p class="card-text">{{ pub.watch|safe }}</p>
            <p class="card-text"><small class="text-muted">Добавлено пользователем {{ pub.author }}</small></p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}

