{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Гродненская область</title>
{% endblock title %}

{% block content %}
<section>
    <div class="container-sm">
        {% for i in towns %}
        <div class="card mb-2">
          <img src="{{ i.image }}" class="card-img-top" alt="Photo">
          <div class="card-body">
            <h5 class="card-title">{{ i.town }}</h5>
            <p class="card-text">{{ i.text }}</p>
          </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}