{% extends "base.html" %}
{% load static %}

{% block title %}
   <title> Города в этой области </title>   <!-- почему-то не могу вывести название области-->
{% endblock title %}

{% block nav1 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/districts">Что посмотреть</a>
        </li>
{% endblock nav1 %}

{% block content %}

<section>
    <div class="container-xxl">
<!--        <a class="link" href="/districts"><&#45;&#45; К областям</a>-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Библиотека</li>
          </ol>
        </nav>
        {% if towns %}
            {% for town in towns %}
            <div class="card mb-2">
              <img src="/{{ town.image }}" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">
                    <a href="town_watch/{{ town.id }}">{{ town.name }}</a>
                </h5>
                <p class="card-text">{{ town.short_info }}</p>
              </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">Страница со списком городов в области</h5>
            <p class="card-text">Информация добавляется администратором сайта и дополняется пользователями через личный
                кабинет через премодерацию. Чтобы добавлять посты в этот раздел, <a href="/admin">авторизуйтесь</a>
                как администратор</p>
            <p class="card-text" style="text-align: right"><small class="text-muted">Администрация</small></p>
          </div>
        </div>
        {% endif %}
    </div>
</section>

{% endblock content %}