{% extends "base.html" %}
{% load static %}

{% block title %}
    <title> {{ town_sleep.name }} - Где переночевать </title>
{% endblock title %}

          {% block nav1 %}
        <li class="nav-item">
          <a class="nav-link" href="/town_watch/{{town_sleep.town_slug}}">Что посмотреть</a>
        </li>
          {% endblock nav1 %}
          {% block nav2 %}
        <li class="nav-item">
          <a class="nav-link" href="/town_eat/{{town_sleep.town_slug}}">Где поесть</a>
        </li>
          {% endblock nav2 %}
          {% block nav3 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/town_sleep/{{town_sleep.town_slug}}">Где переночевать</a>
        </li>
          {% endblock nav3 %}

{% block content %}
<div class="container-xxl">
    <div class="mt-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                <li class="breadcrumb-item"><a href="/districts/towns/{{town_sleep.district_id}}">Область</a>(не работает)</li>
                <li class="breadcrumb-item active" aria-current="page">{{town_sleep.name}} - Отдых</li>
            </ol>
        </nav>
    </div>
    <div class="card mb-2">
        <img src="/{{ town_sleep.image }}" class="card-img-top" alt="">
        <div class="card-body">
            <p class="card-text">{{ town_sleep.sleep|safe }}</p>
            <p class="card-text" style="text-align: right"><small class="text-muted">Добавлено Администратором</small></p>
        </div>
    </div>
</div>
{% for pub in pub_town_sleep %}
<div class="container-xxl">
    <div class="card mb-2">
        <div class="card-body">
            <p class="card-text">{{ pub.sleep|safe }}</p>
            <p class="card-text"><small class="text-muted">Добавлено пользователем {{ pub.author }}</small></p>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}