{% extends "base.html" %}
{% load static %}

{% block title %}
    <title> {{ town_eat.name }} - Где поесть</title>
{% endblock title %}

          {% block nav1 %}
        <li class="nav-item">
          <a class="nav-link" href="/towns/town_watch/{{town_eat.id}}">Что посмотреть</a>
        </li>
          {% endblock nav1 %}
          {% block nav2 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/towns/town_eat/{{town_eat.id}}">Где поесть</a>
        </li>
          {% endblock nav2 %}
          {% block nav3 %}
        <li class="nav-item">
          <a class="nav-link" href="/towns/town_sleep/{{town_eat.id}}">Где переночевать</a>
        </li>
          {% endblock nav3 %}

{% block content %}

<section>
    <div class="container-xxl">
        <div class="mt-2">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/towns/{{town_step.district_id}}">Города</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{town_eat.name}} - Еда</li>
          </ol>
        </nav>
        </div>
        <div class="card mb-2">
          <img src="/{{ town_eat.image }}" class="card-img-top" alt="">
          <div class="card-body">
            <p class="card-text">{{ town_eat.eat|safe }}</p>
              <p class="card-text" style="text-align: right"><small class="text-muted">Добавлено Администратором</small></p>
          </div>
        </div>
    </div>
    {% for pub in pub_town_eat %}
        <div class="container-xxl">
        <div class="card mb-2">
          <div class="card-body">
            <p class="card-text">{{ pub.eat|safe }}</p>
              <p class="card-text"><small class="text-muted">Добавлено пользователем {{ pub.author }}</small></p>
          </div>
        </div>
        </div>
    {% endfor %}
</section>

{% endblock content %}