{% extends "base.html" %}
{% load static %}

{% block title %}
    <title> Город </title>
{% endblock title %}

          {% block nav1 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="">Что посмотреть</a>
        </li>
          {% endblock nav1 %}
          {% block nav2 %}
        <li class="nav-item">
          <a class="nav-link" href="/town_eat/{{town_watch.id}}">Где поесть</a>
        </li>
          {% endblock nav2 %}
          {% block nav3 %}
        <li class="nav-item">
          <a class="nav-link" href="/town_sleep/{{town_watch.id}}">Где переночевать</a>
        </li>
          {% endblock nav3 %}

{% block content %}

<section>
    <div class="container-sm">
        <a class="link" href="/districts"><-- К областям</a>
        <div class="card mb-2">
          <img src="/{{ town_watch.image }}" class="card-img-top" alt="Photo">
          <div class="card-body">
            <p class="card-text">{{ town_watch.watch|safe }}</p>
          </div>
        </div>
    </div>
</section>

{% endblock content %}