{% extends "base.html" %}
{% load static %}

{% block title %}
    <title> {{ town_watch.name }} - Что посмотреть</title>
{% endblock title %}

          {% block nav1 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="">Что посмотреть</a>
        </li>
          {% endblock nav1 %}
          {% block nav2 %}
        <li class="nav-item">
          <a class="nav-link" href="/town_eat/{{town_watch.id}}">Где поесть</a>
        </li>
          {% endblock nav2 %}
          {% block nav3 %}
        <li class="nav-item">
          <a class="nav-link" href="/town_sleep/{{town_watch.id}}">Где переночевать</a>
        </li>
          {% endblock nav3 %}

{% block content %}

<section>
    <div class="container-sm" style="">
        <a class="link" href="/districts"><-- К областям</a>
<!--        <a class="link" href="/district/{{ distr.id }}"><&#45;&#45; К городам</a> -->
        <div class="card mb-2">
          <img src="/{{ town_watch.image }}" class="card-img-top" alt="">
          <div class="card-body">
            <p class="card-text">{{ town_watch.watch|safe }}</p>
              <p class="card-text" style="text-align: right"><small class="text-muted">Добавлено Администратором</small></p>
          </div>
        </div>
    </div>
        {% for pub in pub_town_watch %}
        <div class="container-sm" style="">
        <div class="card mb-2">
          <div class="card-body">
            <p class="card-text">{{ pub.watch|safe }}</p>
              <p class="card-text"><small class="text-muted">Добавлено пользователем {{ pub.author }}</small></p>
          </div>
        </div>
        </div>
        {% endfor %}
</section>

{% endblock content %}

