{% extends "base.html" %}
{% load static %}

{% block title %}
<title> Что посмотреть </title>
{% endblock title %}

{% block nav1 %}
        <li class="nav-item">
          <a class="nav-link disabled" href="/what-to-watch">Что посмотреть</a>
        </li>
{% endblock nav1 %}

{% block content %}
<section>
    <div class="container-sm">
        {% for i in Districts %}
        <div class="card mb-2">
          <img src="{{ i.image }}" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">{{ i.district }}</h5>
            <p class="card-text">{{ i.text }}</p>
          </div>
        </div>
        {% endfor %}
    </div>
</section>

{% for i in districts %}
{{ i.district }}
{{ i.image }}
{{ i.text }}
{% endfor %}

{% endblock content %}